
<% provide(:title, 'Admin Home | Gofixam')%>
<div class="admin_wrapper">

		<div class="admin-header">
			<%=render 'navbar' %>
		</div>



		<div class="container">  
  

   
<%=render 'body' %>

	
</div>

</div>


<%= render 'shared/footer2'%>