<div class="container-fluid">


<%= render 'shared/header'%>





<div class="container-fluid pitch_new">

<div class="pitch_new2">


<div class="pitch_content">
<div class="submit_a_startup">
  <h3>Thanks for telling us about you and startup.</h3>

  </div>
</div>



</div>




</div>







</div>

<%= render 'shared/footer'%>


