		<div id="footer">
<%= render 'shared/bottom_social'%>
  <div class="container-fluid">

    <p class="copyright"> &copy; 2017 Spitch.ng   </p>

    <p class="social">Facebook | Twitter | Instagram</p>

  </div>
</div>



