	<div class="container-fluid header-hero">
	
	<div class="letstalk">

	</div>

	<div class="innerletstalk">
		<h1>Join the innovation</h1>
		<p class="talksub">A compendium of great startups,apps and products in the Nigerian ecosystem. </p>
	</div>


	

		

	</div>