<div class="menu_btnwrap">
      <div class="dropdown menu-group remove_dropoverlap">
                <button type="button" class="btn btn-default dropdown-toggle menu_btn" data-toggle="dropdown">Categories <span class="caret"></span></button>
                <%=render 'home/menu_ul'%>

              <button type="button" class="btn btn-default latest_btn">Latest</button>

            </div> 

               

   </div> 