
<% provide(:title, 'Admin Home | Gofixam')%>
<div class="admin_wrapper">

		<div class="admin-header">
			<%=render 'dashboard/navbar' %>
		</div>



		<div class="container">  
  


  <%= render 'form'%>

	
</div>

</div>


<%= render 'shared/footer2'%>